body {
    background-image: url(UX\ Photosp\ example.jpg);
    background-repeat: no-repeat;
    
    background-size: 375px 667px; /*Ifhone SE Size*/
    background-attachment: fixed;
    size:375px 667px ;
  }
    h1{
        color: white;
    font-family: roboto;
    padding-left: 70px;
    
    
   font-weight: bold;
   
  
    }
  
  h2,h3 {
    color: white;
    font-family: roboto;
    font-weight: bold;
   
}


.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;   
}