
  





body {
  display: grid;
  place-items: center;
  background-color: #80e880;
  color: #94452c;
  padding-top: 10rem;
}
.title {
  font-family: 'Righteous', cursive;
  font-size: 120px;
  letter-spacing: 4px; 
  
}
.subtitle {
  font-family: 'Cookie', cursive;
  font-size: 80px;
  width: fit-content;
}
.titulo{
    font-family: 'Cookie', cursive;
  font-size: 50px;
  width: fit-content;
  

}
h2{
    font-family: 'Cookie', cursive;
  font-size: 30px;
  width: fit-content;

}