.menu{
        
    display:flex ;
    justify-content:space-around ;
    }



@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
  background-color: black;
  color: white;
  background-size: 100px 100px;
}

.title  {
  font-size: 3rem;
  display: flex;
  line-height: 5rem;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
}

.title__highlight {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-image: url(https://st3.depositphotos.com/15223308/17924/v/450/depositphotos_179240978-stock-illustration-anarchy-symbol-vector-file.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  
  color: transparent;
  
  margin-right: -0.5rem;
  
  transform: scaleX(-1);
  mix-blend-mode: screen;
}
.title__highlight {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-image: url(https://st3.depositphotos.com/15223308/17924/v/450/depositphotos_179240978-stock-illustration-anarchy-symbol-vector-file.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    color: transparent;
    
    margin-inline: -0.5rem;
    
    transform: scaleX(-1);
    mix-blend-mode: screen;
  }
  